
.vs/gimpsep-ratio_imageeditor_project/project-colors.json
.vs/gimpsep-ratio_imageeditor_project/v17/.suo
.vs/gimpsep-ratio_imageeditor_project/v17/Browse.VC.db
.vs/ProjectSettings.json
.vs/Projet/project-colors.json
.vs/Projet/v17/.suo
.vs/Projet/v17/Browse.VC.db
.vs/Projet/v17/Browse.VC.db-shm
.vs/Projet/v17/Browse.VC.db-wal
.vs/Projet/v17/Browse.VC.opendb
.vs/Projet/v17/ipch/AutoPCH/934b56acc827d596/MAIN.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
CppProperties.json
Debug/Projet.tlog/CL.command.1.tlog
Debug/Projet.tlog/Projet.lastbuildstate
Debug/Projet.tlog/unsuccessfulbuild
Debug/vc143.idb
Debug/vc143.pdb
Projet.vcxproj
x64/Release/Darken.obj
x64/Release/Dilate.obj
x64/Release/Erode.obj
x64/Release/main.obj
x64/Release/Menu.obj
x64/Release/Projet.exe
x64/Release/Projet.exe.recipe
x64/Release/Projet.iobj
x64/Release/Projet.ipdb
x64/Release/Projet.log
x64/Release/Projet.pdb
x64/Release/Projet.tlog/CL.command.1.tlog
x64/Release/Projet.tlog/CL.read.1.tlog
x64/Release/Projet.tlog/CL.write.1.tlog
x64/Release/Projet.tlog/link.command.1.tlog
x64/Release/Projet.tlog/link.read.1.tlog
x64/Release/Projet.tlog/link.write.1.tlog
x64/Release/Projet.tlog/Projet.lastbuildstate
x64/Release/Projet.tlog/Projet.write.1u.tlog
x64/Release/Projet.vcxproj.FileListAbsolute.txt
x64/Release/Size.obj
x64/Release/vc143.pdb
